html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}
html, 
body{
    height: 100%;
    position: relative;
    overflow-x: hidden;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;   
}
.footer {
    flex: 0 0 auto;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
img {
    display: block;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
input {
    border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: inherit;
    font-weight: inherit;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #555;
    line-height: 1.1;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.container-fluid {
    padding: 0;
    margin: 0 auto;
}
.object-fit {
    object-fit: cover;
    font-family: 'object-fit:cover';
    object-position: center center;
}

.button {
    color: #fff;
    background-color: $blue;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 27px;
    font-weight: 300;
    min-width: 138px;
    max-width: 240px;
    @include ovrf;
    text-align: center;
    outline: none;
    border: 1px solid transparent;
    transition: background-color .2s linear, color .2s linear;

    &:focus {
        border: 1px solid $purple;
    }
    &:hover {
        background-color: #fff;
        color: $blue;
        
    }
}
.section {
    padding: 115px 0;
    
}
.item {
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        &__bottom {
            min-height: 62px;
        }
        &-price {
            background-color: rgba(6, 116, 236, 0.1);
            border-radius: 14px;
            padding: 7px 17px;
            font-size: 15px;
            font-weight: 500;
            color: $blue;
        }
}
.title--item {
    font-size: 24px;
    color: #000;
    font-weight: 500;
}
.product__info {
    display: flex;


}
.text {
    font-size: 16px;
    font-weight: 300;
    color: #555555;
    line-height: 30px;
    
}
.tags {
    display: flex;
    .tag {
        background-color: #f1f3f6;
        color: #868c96;
        text-align: center;
        padding: 8px 18px;
        border-radius: 25px;
        font-size: 15px;
        font-weight: 300;
        min-width: 85px;
        max-width: 135px;
        @include ovrf;
    }
}
.title {
    
    font-size: 30px;
    font-weight: 300;
    color: #000;
   
    
    &__inner {
        height: 110px;
        min-height: 110px;
        width: 100%;
        padding: 0 30px ;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

.title--lg {
    font-size: 36px;
    font-weight: 300;
    color:#000;
    span{
        color: $blue;
    }
}

.product__info {
    display: flex;
    align-items: center;
}
.product__avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 7px;
    img {
        width: 100%;
    }
}
.product__nickname {
    font-size: 15px;
    font-weight: 300;
    color: #000;
    margin-right: 17px;
}
.product__category {
    img {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
        transform: translate(0, -10%);
        
    }
    font-size: 15px;
    font-weight: 300;
    color: $purple;
    line-height: 30px;
}
.bottom-line {
    display: flex;
    align-items: center;
    border-top:1px solid $line;
}
.price {
    background-color: $blue;
    padding: 8px 17px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 15px;

}
.like {
    font-size: 15px;
    color: $purple;

}
.sells {
    color: $blue;
    font-size: 15px;
}
.item-data {
    font-size: 15px;
    color: #999999;
    font-weight: 300;
    i{
        color: $blue;
    }
}

.item-comment--sky {
    color: #58c9e9;
}
.item-comment,
.item-views {
    font-size: 15px;
    color: #7e7e7e;
    font-weight: 300;
}
.delete {
    text-align: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #f0ebf8;
    font-size: 15px;
    color: #818c98;
    line-height: 32px;

    &::before {
        font-family: 'Linearicons-Free';
        content: "\e811";
        
    }
}
.gocart,
.gocheckout {
    display: block;
    width: 100%;
    color: #fff;
    background-color: $purple;
    padding: 20px;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
}
.gocart {
    background-color: $purple;
}
.gocheckout{
    background-color: $blue;
}
.brg-menu {
    display: none;
    width: 46px;
    height: 46px;
    position: relative;
    background-color: $blue;
    border-radius: 50%;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    cursor: pointer;
   
    &::before,
    &::after,
    span {
        content: "";
        position: absolute;
        background-color: #fff;
        width: 50%;
        height: 3px;
        left: 0;
        right: 0;
        margin: 0 auto;

    }
    span {
        top: 50%;
        transform: translateY(-50%);
    }
    &::before {
        top: 30%;
    }
    &::after {
        bottom: 30%;
    }

    &--close {
        position: absolute;
        z-index: 11;
        right: 10px;
        top: 10px;
        span {
            transform: scaleY(0);
        }
        &::before {
            width: 60%;
            transform: rotate(45deg) translate(0, -50%);
            top: 50%;
        }
        &::after {
            width: 60%;
            transform: rotate(135deg) translate(0, -50%);
            bottom: 50%;
        }
    }

}
.breadcrumbs {

    li {
        display: inline-block;
        margin-right: 4px;
        color: #fff;
    }
    :last-child a{
        color: #bfcad7;
    }
    li+li{
        padding-left: 16px;
        position: relative;
        &::before {
            content: "/";
            color: #fff;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}
.page-top {
    background: linear-gradient(90deg, rgba(114, 33, 160, 1) 0%, rgba(13, 62, 242, 1) 100%);
    border-bottom: 1px solid rgba(0,0,0,0.4);
    &__inner {
        padding: 50px 0 55px;
    }
    &__title {
        font-size: 30px;
        color: #fff;
        font-weight: 500;
        margin-top: 25px;
    }
    &__subtitle {
        font-weight: 300;
        font-size: 30px;
        color: #f3f3f8;
        margin: 25px 0 65px;
    }
}
.pagination {
    :first-child a{
        margin-right: 20px;
    }
    :last-child a {
        margin-left: 20px;
    }
    li {
        display: inline-block;
        margin-right: 5px;
        
    }
   

    &__link {
        height: 38px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include ovrf;
        background-color: #fff;
        color: $bi;
        border-radius: 19px;
        transition:  background-color .2s linear, color .2s linear;
        font-style: normal;
        &:hover {
            background-color: $purple;
            color: #fff;
        }
        &.active {
            background-color: $blue;
            color: #fff;
        }
       
    }

}
.favorite-btn {
    color: $purple;
    @include shadow;
    padding-left: 50px;
    position: relative;
    transition: background-color .2s linear, color .2s linear;
    &::before {
        font-family: 'Linearicons-Free';
        content: "\e813";
        font-size: 16px;
        position: absolute;
        left: 23px;
        transform: translateX(-50%);
    }
    &:hover {
        background-color: $blue;
        color: #fff;
        
    }
    
}