
@media (max-width:1200px) { 

    .category-filter-icons {
        display: none;
    }
    .category-aside {
        margin-right: 15px;
    }
    .category-aside__item+.category-aside__item {
        margin-top: 15px;
    }
    .category-content__items {
        margin: 0 -7.5px;
        justify-content: center;
    }
    .category-content__item {
        flex-basis: calc(50% - 7.5px);
        margin: 0 7.5px;
        margin-bottom: 15px;
        max-width: 45%;
    }
}

@media (max-width:1114px) { 
    .weeky__item-images {
        max-width: 400px;
        flex: 0 0 400px;
    }
    .weeky__item-info {
        padding: 25px 25px 0;
        max-width: 100%;
    }
    .newest__items {
        justify-content: center;
        
    }
    .newest__item {
        flex-basis: calc(50% - 20px);
    }
    .followers-slider__item {
        margin: 0 5px;
    }
    .followers-slider .slick-track {
        margin: 0;
    }
    .followers-slider .slick-list {
        margin: 0;
    }
    .last-news__items {
        justify-content: center;
    }
    .last-news__item {
        flex-basis: calc(50% - 28px);
        margin-bottom: 20px;
    }
    .last-news__item-info {
        padding: 20px 15px;
    }
    .last-news__item-bottom {
        padding: 6px 15px;
    }
    .last-news__item-comment {
        margin-left: 10px;
    }
    .footer__col { 
        margin-bottom: 25px;
    }
    .footer__col--col1 {
        max-width: 100%;
    }
    .footer__row {
        justify-content: start;
    }

}

@media (max-width:996px) {

    .header {


        .menu {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 15;
            transform: translate3d(-200%, 0, 0);
            transition: transform .3s linear;
            display: block;
            width: 100%;
            min-height: 100vh;
            background-color: rgba($color: #fff, $alpha: 1);
            text-align: center;
            padding-top: 35px;

            li {
                margin-right: 0;
                width: 100%;
                margin: 30px 0;

            }

            a {
                font-size: 20px;
            }

            &.active {

                transform: translate3d(0, 0, 0)
            }
        }

        .menu-drop-down {
            position: relative;
            top: 5px;
            display: none;
            padding: 0;
            left: 0;
            z-index: 11;

            &__title {
                text-align: center;
                cursor: pointer;
                margin-bottom: 0;

                &.active {
                    color: $blue;
                }
            }

            li {
                margin: 0;
            }

            li+li {
                margin-top: 5px;
            }

            &--active {
                display: block;

                li {
                    margin: 0;
                }
            }

        }

        .user-drop-down {
            position: absolute;
            top: 74px;
            left: -100px;
        }


    }

    .pages-menu {
        display: none;

        &.active {
            display: block;
        }
    }

    .drop-down__col+.drop-down__col {
        margin-left: 0;
    }

    .brg-menu {
        display: block;

    }
    .weeky__item-images {
        flex: 0 0 50%;
    }

    .weeky__item-title {
        margin-bottom: 10px;
    }
    .weeky__item-profile {
        margin-bottom: 10px;
    }
    .weeky__item-text {
        margin-bottom: 10px;
    }
    .weeky__item-tags {
        margin-bottom: 15px;
    }
    .weeky__item-bottom {
        min-height: 60px;
    }
    .newest__buttons {
        padding: 0 15px;
    }
    .followers-slider__item-info {
        padding: 15px;
    }
    .feedback__item {
        padding: 25px 20px;
    }
    .single-content {
        margin-right: 15px;
    }
    .single-content__item, .single-aside__item {
        margin-bottom: 15px;
    }
    .single-tabs {
        flex-wrap: wrap;
    }
    .single__tab+.single__tab {
        border-left: none;
    }
    .single-tab__content,
    .single-aside__item-inner,
    .single-content__info {
        padding: 20px;
    }
     
    .single-content__bottom {
        flex-wrap: wrap;
    }
    .single-content__bottom-btn {
        margin-bottom: 15px;
    }
    .single-tab__images img {
        min-height: 700px;
    }
    .single {
        padding: 50px 0 70px;
    }
    .single-content__btns button+button {
        margin-left: auto;
        margin-top: 15px;
    }
    .single-content__btns {
        
        button {
            display: block;
            margin: 0 auto;
        }
    }
}
@media (max-width:910px) {
    .followers-slider__item {
        max-width: 100%;
    }
    .feedback__items {
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .feedback__item {
        margin-bottom: 20px;
        max-width: 556px;
        margin-left: 0;
        &-profile {
           max-width: 475px;
        }
    }
    .weeky__slider,
    .followers-slider {
        .slick-list {
            overflow: hidden;
        }
    }
    .category-content__item {
        flex-basis: calc(100% - 7.5px);
        max-width: 70%;
    }
    .single__inner {
        justify-content: space-between;
    }
    .single-content {
        flex: 0 0 50%;
        width: 100%;
    }
    .single-tab__images img {
        min-height: 450px;
    }
    .more-items__row {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -10px;
    }
    .more-items__col {
        flex-basis: calc(40% - 10px);
        margin-bottom: 20px;
    }

}

@media (max-width:810px) {

    .header {

        &__logo {
            margin-right: 15px;
        }

        &__top-inner {
            min-height: 80px;
            height: 80px;
        }

        &__bottom-inner {
            min-height: 60px;
            height: 60px;
        }

        .user-drop-down {
            top: 64px;
        }

    }
    .section,
    .main__inner {
        padding: 70px 0 105px;
    }

    .icons-box__menu {
        top: 50px;
    }
    .advantage__items {
        flex-wrap: wrap;
        justify-content: center;
    }
    .advantage__item {
        display: block;
        width: 100%;
        max-width: 100%;
    }
    .advantage__item {
        box-shadow: none;
    }
    
    .weeky__item-tags {
        display: none;
    }
    .weeky__item-info {
        padding: 15px;
    }
    .weeky__item-sells,
    .weeky__item-like {
        display: none;
    }
    .newest__buttons {
        flex-wrap: wrap;
        padding: 15px;
        height: auto;
    }
    .tags .tag {
        margin-bottom: 10px;
    }
    .chooses__item {
        flex-basis: calc(50% - 30px);
    }
    .shopping__row {
        display: block;
    }
    .shopping__col {
        width: 100%;
    }
    .category-filter__inner {
        padding: 10px 0;
        height: 100%;
    }
    .category-filter__form {
        margin-right: 0;
        text-align: right;
        max-width: 200px;
    }
    .category-filter__form .jq-selectbox__select {
        width: 200px;
        padding: 10px 40px 10px 15px;
    }
    
}
@media (max-width:750px) {
    .single-content {
        max-width: 50%;
        .footer__social li+li {
            margin-left: 0;
            margin-bottom: 5px;
        }
    }
    .product-author__link+.product-author__link {
        margin-left: 0;
    }
    .single-social {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 50%;
        
    }
}

@media (max-width:701px) {

    .header {


        &__top-inner {
            position: relative;
        }

        &__btn {
            margin-left: auto;
            margin-right: 70px;
        }



    }

    .icons-box__inner {
        display: none;
        margin-right: 50px;
        margin-left: auto;

        &.active {
            display: flex;

        }
    }

    .header__user-box {
        display: none;
        position: absolute;

        &.active {
            display: block;
            left: -17px;

        }
    }

    .header .user-drop-down {
        left: -3px;

        &::after {
            left: 25px;
            right: auto;
        }
    }

    .icons-box__menu--notification {
        left: -235px;

        &::before {
            left: 245px;
        }
    }

    .header__btn,
    .header__logo {
        display: block;

        &.active {

            display: none;

        }
    }

    .user-menu {
        display: block;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        margin-left: auto;
    }
    .section,
    .main__inner {
        padding: 50px 0 70px;
    }
    .main__suptitle {
        font-size: 40px;
    }
    .main__title {
        font-size: 42px;
    }
    .advantage__search-form {
        padding: 10px;
        margin-top: -35px;
        &::before,
        &::after {
            display: none;
        }
    }
    .weeky__slider .slick-prev,
    .weeky__slider .slick-next {
        display: none;
    }
    .weeky__top {
        padding-right: 20px;
    }
    
    .slick-slider {
        text-align: center;
    }
    .weeky__item-info {
        text-align: left;
    }
    .weeky__item-wrapper {
        max-width: 70%;
    }

    .weeky__item {
        display: block;
    }
    .weeky__item-images {
        max-width: 100%;
        min-height: 250px;
    }
    
    .newest__top {
        padding: 0 15px;

    }
    .followers-slider__item-bottom {
        min-height: 50px;
    }
    .followers-slider__item-title {
        margin-bottom: 10px;
    }
    .followers-slider__item-profile {
        margin-bottom: 5px;
    }
    .followers-slider__item-info {
        padding: 10px;
    }
    .guarantee__col {
        padding: 20px 15px;
    }
    .category-content__item {
        flex-basis: calc(100% - 7.5px);
        max-width: 100%;
    }
    .more-items__col {
        flex-basis: calc(80% - 10px);
        margin-bottom: 20px;
        text-align: center;
    }

}

@media (max-width:640px) {
    .weeky__item-wrapper {
        max-width: 90%;
    }
    .newest__item {
        flex-basis: 100%;
        max-width: 70%;
        margin-left: 0;
        margin-bottom: 15px;
    }
    .newest__items {
        margin-left: 0;
    }
    .newest__item-img {
        max-width: 100%;
        max-height: none;
        margin-bottom: 10px;
    }
    .newest__item-info {
        text-align: center;
        padding: 15px;
    }
    .newest__item-profile {
        justify-content: center;
    }
    .followers-slider__item-wrapper {
        max-width: 62%;
    }
    .statistic {
        padding: 45px 0;
    }
    .statistic__items {
        flex-wrap: wrap;
    }
    .statistic__item {
        max-width: 50%;
        width: 50%;
        margin-bottom: 20px;
    }
    .last-news__item {
        flex-basis: calc(100% - 28px);
    }
    .category-body__inner {
        display: block;
    }
    .category-aside {
        margin-right: 0;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .single__inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .single-content {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
        margin-right: 0;
    }
    .single-aside {
        width: 100%;
        max-width: 100%;
    }
    .page-top__title {
        font-size: 24px;
    }
    .single {
        padding: 30px 0 40px;
    }
}

@media (max-width:540px) {
    .container {
        padding: 0 5px;
    }

    .header__logo {
        flex: 0 0 100%;
    }

    .header__search-form input {
        min-width: 0;
    }

    .header__btn {
        display: none;
    }

    .drop-down__box {
        position: static;
    }

    .icons-box__menu {
        min-width: 100%;
        left: 0;
        right: 0;
        top: 100%;

        &--notification {
            left: 0;
        }
    }

    .header__user-box {
        position: absolute;
    }

    .header {
        .user-drop-down {
            min-width: 310px;
            overflow-y: auto;
            left: -6px;

            a {
                padding: 15px 10px;
            }
        }
    }

    .icons-box__menu::before {
        display: none;
    }

    .pages-menu {
        columns: 1;
    }
    .main__suptitle {
        font-size: 30px;
    }
    .main__title {
        font-size: 30px;
    }
    
    .main__dscr {
        margin-bottom: 30px;
    }

    .main__btn{
        display: block;
        margin-left: auto;
        margin-right: auto;
       
        &+& {
            margin-left: auto;
            margin-top: 10px;
        }
    }
    .advantage__search-form {
        margin-top: 20px;
    }
    .advantage__search-form form {
        display: block;
    }
    .advantage__search-form input {
        border-radius: 4px;
        margin-bottom: 10px;
    }
    .advantage__search-form .jq-selectbox.jqselect {
        max-width: 100%;
        padding: 4px 40px 4px 30px;
        border-left: 1px solid $line;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    .advantage__search-form .jq-selectbox__dropdown li {
        padding: 4px 30px;
    }
    .advantage__search-form .jq-selectbox__dropdown {
        min-width: 100%;
    }
    .advantage__search-form button {
        min-width: 100%;
        padding: 15px 5px;
    }
    .weeky__item-wrapper {
        max-width: 100%;
    }
    
    .weeky__top  {
        min-height: 80px;
        height: 80px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .title {
        font-size:26px;
    }
    .newest__item {
        flex-basis: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 15px;
    }
    .newest__filter {
        display: none;
    }
    .newest__buttons {
        padding: 10px;
        .tag {
            font-size: 12px;
            padding: 4px 10px;
            margin-bottom: 15px;
            min-width: 45px;
        }
    }
    .followers-slider__item-wrapper {
        max-width: 75%;
    }
    .title__inner {
        padding: 0 15px;
    }
    .feedback__link {
        margin-top: 25px;
    }
    .chooses__items {
        justify-content: center;
    }
    .chooses__item {
        flex-basis: calc(100% - 30px);
        max-width: 450px;
        margin-bottom: 15px;
    }
    .shopping__col {
        padding: 45px 10px 50px;
    }
    .guarantee__row {
        display: block;
    }
    .guarantee__col+.guarantee__col {
        border-right: none;
    }
    .advantage__search-form {
        padding: 0;
    }
    .category-top__inner {
        padding: 45px 0 20px;
    }
    .category-filter__inner {
        display: block;
        height: 100%;
        padding: 15px 0;

    }
    .category-filter__btns {
        margin-bottom: 15px;
        justify-content: center;
        button {
            font-size: 18px;
        }
    }
    .category-filter__form {
        text-align: center;
        max-width: 100%;
    }
    .category-filter__form .jq-selectbox__dropdown li {
        text-align: left;
    }
    .more-items__col {
        flex-basis: calc(100% - 10px);
        margin-bottom: 20px;
        text-align: center;
    }
    .login__body {
        padding: 25px 20px;
    }
    .login__top {
        padding: 25px 15px;
        line-height: 24px;
    }
    .login__form button {
        margin: 20px 0 25px;
    }
    .login__text {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 15px;
    }
    .login__bottom {
        justify-content: center;
    }
}

@media (max-width:420px) {
    .header__logo {
        flex: 0 0 70%;
    }

    .header__search-form button {
        width: 50px;
        height: 40px;
    }

    .header__search-form input {
        padding: 0 55px 0 10px;
        min-height: 40px;
        height: 35px;
        width: 200px;
    }

    .brg-menu {
        width: 40px;
        height: 40px;
    }

    .brg-menu::before,
    .brg-menu::after,
    .brg-menu span {
        height: 2px;
    }

    .user-box__avatar {
        margin-right: 5px;
    }

    .icons-box--disable {
        display: none;
    }

    .basket-item {
        padding: 10px;
    }

    .basket-item__title {
        max-width: 115px;
        @include ovrf;
    }
    .advantage__item {
        padding: 5px;
    }
    .section {
        padding: 30px 0 35px;
    }
    .weeky__title,
    .weeky__item-title {
        text-align: center;
    }
    .weeky__item-text {
        max-height: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.5;
    }
    .followers-slider__item-wrapper {
        max-width: 100%;
    }
    .statistic {
        padding: 30px 0;
    }
    .statistic__item-icon {
        font-size: 40px;
        margin-bottom: 15px;
    }
    .statistic__item-number {
        font-size: 30px;
    }
    .statistic__item-dscr {
        font-size: 16px;
    }
    .feedback__item {
        padding: 15px;
    }
    .feedback__item-avatar {
        flex: 0 0 50px;
        height: 50px;
        margin-right: 10px;
    }
    .feedback__user-nick {
        margin-bottom: 4px;
    }
    .feedback__item-icon {
        font-size: 45px;

    }
    .feedback__link {
        margin-top: 15px;
    }
    .chooses__subtitle {
        line-height: 1.3;
        margin:0 auto 15px;
    }
    .shopping__col-icon {
        margin-bottom: 30px;
    }
    .shopping__col-title {
        font-size: 32px;
        margin-bottom: 15px;
    }
    .shopping__col-text {
        line-height: 1.4;
        margin: 0 auto 25px;
    }
    .product-author .footer__social {
        justify-content: space-around;

    }
    .footer__social {
        justify-content: space-between;
        flex-wrap: wrap;
        li+li {
            margin-left: 0;
        }
    }
    .footer__copyright {
        min-height: 40px;
        font-size: 11px;
    }
    .category-top__form {
        
        input {
            padding: 0px 90px 0 20px;
        }

        button {
            max-width: 80px;
            min-width: 50px;
        }

    }
    .breadcrumbs {

        li {
            font-size: 12px;
        }

    }
    .pagination {
        text-align: center;
        :first-child a {
            margin-right: 10px;
        }
        :last-child a {
            margin-left: 10px;
        }
        &__link {
            
            height: 27px;
            width: 35px;
        }

    }
    .single-tab__content, .single-aside__item-inner, .single-content__info {
        padding: 15px;
    }
    .login__body {
        padding: 25px 10px;
    }
}