$gray: #eef1f3;
$blue: #0674ec;
$line: #d9dfe5;
$tomatto: #ff6a6c;
$green: #62d03b;
$purple: #7347c1;

@mixin bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}