$gray: #eef1f3;
$blue: #0674ec;
$line: #d9dfe5;
$tomatto: #ff6a6c;
$green: #62d03b;
$purple: #7347c1;

@mixin bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
@mixin shadow {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
      
}